<div class="flex flex-row gap-4">
  <div class="w-full grid grid-cols-4 gap-4">
    <div class="col-span-3">
      <div class="flex gap-4 mb-8">
        <% ["devto", "hashnode"].each do |platform| %>
          <%= import_posts_link(platform: platform) %>
          <%= sync_stats_link(platform: platform) %>
        <% end %>
      </div>
      <div class="col-span-3">
        <h2 class="text-gray-900 dark:text-gray-300 text-2xl font-bold mb-4">Latest posts</h2>
        <% current_user.posts.each do |post| %>
          <%= render partial: 'posts/post_card', locals: {post: post} %>
        <% end %>
      </div>
    </div>
    <div>
    </div>
  </div>
