---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=authorization_code&code=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Fnotion%2Fcallback
    headers:
      Authorization:
      - Basic basic-hash-here
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e5-RhBcu+JSwPRhgiKjt2tLijuTD6k"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"secret_token","token_type":"bearer","bot_id":"75814f44-d9c9-4568-bc61-aa93c0205bad","workspace_name":"Ksix","workspace_icon":"https://lh3.googleusercontent.com/a/AAcHTtfnwol4c1thRK1z60SG4dB5ytTNsKt8AcJvjN-nH62ZqA=s100","workspace_id":"adf141e8-e93b-4a6b-a4b6-49186c5aa631","owner":{"type":"user","user":{"object":"user","id":"6f86ce7c-d058-4fb1-8d27-8c031429b03f"}},"duplicated_template_id":"cedf0483-3e03-42a5-a8b6-4bdd754baa70"}'
  recorded_at: Tue, 15 Aug 2023 22:41:36 GMT
recorded_with: VCR 6.2.0
