---
http_interactions:
- request:
    method: put
    uri: https://dev.to/api/articles/nil
    body:
      encoding: UTF-8
      string: '{"article":{"published":false}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - pkQzv52hqahaY4yF5Go1uicd
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"not found","status":404}'
  recorded_at: Mon, 21 Aug 2023 19:48:19 GMT
recorded_with: VCR 6.2.0
