<h1 class="mt-6 mb-12 text-center font-sans text-5xl">Write on <span class="text-red-600">Rails</span>!</h1>
<p class="text-center">I am <%= Rails.application.credentials.cloud66.continuous_integration %> the continuous integration before the next task</p>