<div class="bg-white dark:bg-gray-900 max-w-screen-lg m-auto">
  <div class="w-full p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex gap-8 ">
      <div class="w-1/2">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
          <h3 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-800  dark:text-gray-300">Notion</h3>
          <p class="mb-4 text-lg font-normal text-gray-500  dark:text-gray-400">Maybe you are already writing articles in one of these platforms! Choose the one that fits more with your writing habit.</p>
        </div>
        <button type="button" class="w-full text-gray-800 dark:text-gray-300 bg-gray-100 hover:bg-gray-200 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium text-base rounded-lg text-[15px] px-5 py-2.5 text-center inline-flex gap-3 items-center justify-center dark:bg-gray-700 dark:focus:ring-gray-500 dark:hover:bg-gray-800 dark:border-gray-600 mr-2 mb-2">
          <img src="/notion.png" alt="writing photo" class="w-8 h-8">
          Connect with Notion
        </button>
        <p class="text-red-500 dark:text-red-400 mt-2"><span class="font-medium ">Error! </span>Try again and use the provided template.</p>
        <ol class="flex items-center w-full m-auto gap-4 pt-20">
          <li class="flex w-full items-center text-purple-600 dark:text-purple-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-purple-100 after:border-4 after:inline-block dark:after:border-purple-800">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
        </ol>
      </div>
      <div class="w-1/2">
        <div class="py-8 px-4">
          <img src="/onboarding.png" alt="writing photo" class="w-full h-auto rounded-lg">
        </div>
      </div>
    </div>
  </div>
  <div class="w-full p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex gap-8 ">
      <div class="w-1/2">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
          <h3 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-800  dark:text-gray-300">Notion</h3>
          <p class="mb-4 text-lg font-normal text-gray-500  dark:text-gray-400">Maybe you are already writing articles in one of these platforms! Choose the one that fits more with your writing habit.</p>
        </div>
        <button type="button" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-base rounded-lg  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full  dark:text-gray-300  border border-gray-200  focus:ring-[#24292F]/50  text-[15px] inline-flex gap-2 items-center justify-center  dark:border-gray-600 mr-2 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          Continue
        </button>
        <p class="mt-2 text-base text-green-600 dark:text-green-500"><span class="font-medium">Well done!</span> Your notion account was successfully linked.</p>
        <ol class="flex items-center w-full m-auto gap-4 pt-20">
          <li class="flex w-full items-center text-purple-600 dark:text-purple-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-purple-100 after:border-4 after:inline-block dark:after:border-purple-800">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-purple-800">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
        </ol>
      </div>
      <div class="w-1/2">
        <div class="py-8 px-4">
          <img src="/onboarding.png" alt="writing photo" class="w-full h-auto rounded-lg">
        </div>
      </div>
    </div>
  </div>
  <div class="w-full p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full flex gap-8 ">
      <div class="w-1/2">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
          <h3 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-800  dark:text-gray-300">Hashnode</h3>
          <p class="mb-4 text-lg font-normal text-gray-500  dark:text-gray-400">Maybe you are already writing articles in one of these platforms! Choose the one that fits more with your writing habit.</p>
        </div>
        <form>
          <div class="w-full flex gap-6 mb-6 m-auto">
            <div class="w-full">
              <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">API Key</label>
              <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-default rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="A56F" required>
              <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">We need your API key from Hashnode. <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Get yours from here</a>.</p>
            </div>
          </div>
          <button type="button" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full  dark:text-gray-300  border border-gray-200  focus:ring-[#24292F]/50  text-[15px] inline-flex gap-2 items-center justify-center  dark:border-gray-600 mr-2 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-300">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Continue
          </button>
        </form>
        <ol class="flex items-center w-full m-auto gap-4 pt-20">
          <li class="flex items-center w-full text-purple-600 dark:text-purple-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-purple-100 after:border-4 after:inline-block dark:after:border-purple-800">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-600 before:border-4 before:inline-block dark:before:border-purple-800">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
          <li class="flex items-center w-full before:content-[''] before:w-full before:h-1 before:border-b before:border-purple-100 before:border-4 before:inline-block dark:before:border-gray-600">
          </li>
        </ol>
      </div>
      <div class="w-1/2">
        <div class="py-8 px-4">
          <img src="/onboarding.png" alt="writing photo" class="w-full h-auto rounded-lg">
        </div>
      </div>
    </div>
  </div>
</div>
