<div class="flex gap-4 p-4 items-start bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800 rounded-lg mb-4">
  <div class="w-full">
    <a href=<%= post_path(post) %> class=" grid grid-cols-4">
      <div class="block col-span-3 mb-3">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-300"><%= post.title %></h5>
        <div class="flex gap-4">
        </div>
      </div>
      <div class="flex gap-4 justify-end text-gray-500 dark:text-gray-400">
        <div class="flex gap-1">
          <%= embedded_svg("heart", class: "w-6 h-6") %>
          <span>55</span>
        </div>
        <div class="flex gap-1">
          <%= embedded_svg("chat-bubble-bottom-center", class: "w-6 h-6") %>
          <span>7</span>
        </div>
      </div>
      <div class="flex gap-1">
        <span class="bg-pink-100 text-pink-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300">Ruby on Rails</span>
        <span class="bg-purple-100 text-purple-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Action cable</span>
      </div>
    </a>
    <div>
    </div>
  </div>
</div>
