---
http_interactions:
- request:
    method: put
    uri: https://dev.to/api/articles/12345
    body:
      encoding: UTF-8
      string: '{"article":{"published":true}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - pkQzv52hqahaY4yF5Go1uicd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6138e97bb87411530a6a96aa7e814e96"
    body:
      encoding: ASCII-8BIT
      string: '{"type_of":"article","id":1573562,"title":"testing publish and unpublish","description":"testing
        devto","readable_publish_date":"Aug 19","slug":"testing-31ga","path":"/erylopez/testing-31ga","url":"https://dev.to/erylopez/testing-31ga","comments_count":0,"public_reactions_count":0,"collection_id":null,"published_timestamp":"2023-08-19T23:17:52Z","positive_reactions_count":0,"cover_image":null,"social_image":"https://res.cloudinary.com/practicaldev/image/fetch/s--XgkADo3q--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/padvth9i6k0h6moswl4q.png","canonical_url":"https://dev.to/erylopez/testing-31ga","created_at":"2023-08-19T23:17:52Z","edited_at":"2023-08-20T20:33:03Z","crossposted_at":null,"published_at":"2023-08-19T23:17:52Z","last_comment_at":"2023-08-19T23:17:52Z","reading_time_minutes":1,"tag_list":"","tags":[],"body_html":"\u003cp\u003etesting
        devto\u003c/p\u003e\n\n","body_markdown":"testing devto","user":{"name":"Ery
        Lopez","username":"erylopez","twitter_username":null,"github_username":"erylopez","user_id":1129628,"website_url":null,"profile_image":"https://res.cloudinary.com/practicaldev/image/fetch/s--b4uF3_Lc--/c_imagga_scale,f_auto,fl_progressive,h_640,q_auto,w_640/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/1129628/a87e61e2-61c3-42ac-a723-6820a3982c47.jpeg","profile_image_90":"https://res.cloudinary.com/practicaldev/image/fetch/s--wE0moZl4--/c_imagga_scale,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/1129628/a87e61e2-61c3-42ac-a723-6820a3982c47.jpeg"}}'
  recorded_at: Mon, 21 Aug 2023 21:13:46 GMT
recorded_with: VCR 6.2.0
