---
http_interactions:
- request:
    method: put
    uri: https://dev.to/api/articles/123456
    body:
      encoding: UTF-8
      string: '{"article":{"title":"A test from the controller","published":true,"body_markdown":"#Testing\n
        This is a **test** from the controller","tags":"rails, ruby, rubyonrails"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - pkQzv52hqahaY4yF5Go1uicd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Warning:
      - 299 - This endpoint is part of the V0 (beta) API. To start using the V1 endpoints
        add the `Accept` header and set it to `application/vnd.forem.api-v1+json`.
        Visit https://developers.forem.com/api for more information.
      Etag:
      - W/"b7e29c2156fe239306a6dd57af78710b"
    body:
      encoding: ASCII-8BIT
      string: '{"type_of":"article","id":1570630,"title":"A test from the controller","description":"Podemos
        guardar estas credenciales en el archivo credentials.yml.enc. Para editar
        este documento...","readable_publish_date":"Aug 16","slug":"testing-2dj9","path":"/erylopez/testing-2dj9","url":"https://dev.to/erylopez/testing-2dj9","comments_count":0,"public_reactions_count":0,"collection_id":null,"published_timestamp":"2023-08-16T23:14:58Z","positive_reactions_count":0,"cover_image":null,"social_image":"https://res.cloudinary.com/practicaldev/image/fetch/s--ah7l3zTD--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/gj0o8x16q0o5yt5geqji.png","canonical_url":"https://dev.to/erylopez/testing-2dj9","created_at":"2023-08-16T23:14:58Z","edited_at":"2023-08-16T23:45:01Z","crossposted_at":null,"published_at":"2023-08-16T23:14:58Z","last_comment_at":"2023-08-16T23:14:58Z","reading_time_minutes":1,"tag_list":"","tags":[],"body_html":"\u003ch1\u003e\n  \u003ca
        name=\"testing\" href=\"#testing\"\u003e\n  \u003c/a\u003e\n  Testing\n\u003c/h1\u003e\n\n\u003cp\u003eThis
        is a \u003cstrong\u003etest\u003c/strong\u003e from the controller\u003c/p\u003e\n\n","body_markdown":"#Testing\n
        This is a **test** from the controller","user":{"name":"Ery Lopez","username":"erylopez","twitter_username":null,"github_username":"erylopez","user_id":1129628,"website_url":null,"profile_image":"https://res.cloudinary.com/practicaldev/image/fetch/s--J0V2n5FM--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/1129628/a87e61e2-61c3-42ac-a723-6820a3982c47.jpeg","profile_image_90":"https://res.cloudinary.com/practicaldev/image/fetch/s--0mjwBmvY--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/1129628/a87e61e2-61c3-42ac-a723-6820a3982c47.jpeg"}}'
  recorded_at: Wed, 16 Aug 2023 23:45:01 GMT
recorded_with: VCR 6.2.0
