---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation createStory($input: CreateStoryInput!){         createStory(input:
        $input) {           code           success           message           post
        {             _id             cuid             slug           }         }       }","variables":{"input":{"isPartOfPublication":{"publicationId":"64c578d95a0f2b614f315c59"},"title":"Post
        from fixtures","contentMarkdown":"This is a post **from fixtures**","tags":[{"_id":"56744723958ef13879b9549b","slug":"testing","name":"Testing"}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - invalid_code
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Cache:
      - PASS
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Etag:
      - W/"a7-/Z5MdTxkKZyY0jsBTHO8F6l0a9I"
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Authentication key not valid","locations":[{"line":2,"column":3}],"path":["createStory"],"extensions":{"code":"UNAUTHENTICATED"}}],"data":null}'
  recorded_at: Wed, 16 Aug 2023 02:45:12 GMT
recorded_with: VCR 6.2.0
