---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation createStory($input: CreateStoryInput!){         createStory(input:
        $input) {           code           success           message           post
        {             _id             cuid             slug           }         }       }","variables":{"input":{"isPartOfPublication":{"publicationId":"64c578d95a0f2b614f315c59"},"title":"Post
        from fixtures","contentMarkdown":"This is a post **from fixtures**","tags":[{"_id":"56744723958ef13879b9549b","slug":"testing","name":"Testing"}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - my-secret-authorization-code
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Cache:
      - PASS
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Etag:
      - W/"103-CmO419EMtrvOvD6vKanHy4TkElg"
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"createStory":{"code":200,"success":true,"message":"Article
        created successfully","post":{"_id":"64dbf78d4429385b92802339","cuid":"cllcuw5ic0em72lnv8wdqbt4y","slug":"post-from-fixtures"}}}}'
  recorded_at: Tue, 15 Aug 2023 22:09:17 GMT
recorded_with: VCR 6.2.0
