---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation createStory($input: CreateStoryInput!){         createStory(input:
        $input) {           code           success           message           post
        {             _id             cuid             slug           }         }       }","variables":{"input":{"isPartOfPublication":{"publicationId":"my-publication-id"},"title":"Created
        in tests","contentMarkdown":"Created **in** tests","tags":[{"_id":"56744723958ef13879b9549b","slug":"testing","name":"Testing"}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - my-authorization-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Gcdn-Cache:
      - PASS
      Content-Type:
      - application/json; charset=utf-8
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Etag:
      - W/"101-2YISr5XsEI3tuKon4q6g6aIZ/ec"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"createStory":{"code":200,"success":true,"message":"Article
        created successfully","post":{"_id":"64ebec5b0370412e6782ec88","cuid":"cllu5hc87032cptnvh15o9yj6","slug":"created-in-tests"}}}}'
  recorded_at: Mon, 28 Aug 2023 00:37:47 GMT
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation deletePost($id: String!){         deletePost(id:
        $id){           code           success           message         }       }","variables":{"id":"64ebec5b0370412e6782ec88"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - my-authorization-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"71-1vvPAHesPOqcU5Tqu5hbZpg/QQk"
      Gcdn-Cache:
      - PASS
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Content-Type:
      - application/json; charset=utf-8
      Gcdn-Passed-Through-Response:
      - passthrough-only
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"deletePost":{"code":200,"success":true,"message":"deleted
        successfully"}}}'
  recorded_at: Mon, 28 Aug 2023 00:37:48 GMT
recorded_with: VCR 6.2.0
