---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"\n      {\n        user(username: \"hinczuk\") {\n          username\n          name\n          tagline\n          blogHandle\n          publication
        {\n            _id\n            title\n            domain\n            username\n            isActive\n          }\n          publicationDomain\n        }\n      }\n    "}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - {authorization-token}
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Cache:
      - PASS
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Etag:
      - W/"134-nG6w8guBN8r6mth/sHqPJiu4QH8"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"username":"hinczuk","name":"Matt Hinczuk","tagline":"RoR
        Backend developer","blogHandle":"matiasmoya","publication":{"_id":"64c578d95a0f2b614f315c59","title":"Hinczuk","domain":null,"username":null,"isActive":null},"publicationDomain":null}}}'
  recorded_at: Tue, 15 Aug 2023 14:07:43 GMT
recorded_with: VCR 6.2.0
