---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation deletePost($id: String!){         deletePost(id:
        $id){           code           success           message         }       }","variables":{"id":"123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - asdf1234-1234-1234-1234-123randomstring123
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Cache:
      - PASS
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Etag:
      - W/"71-1vvPAHesPOqcU5Tqu5hbZpg/QQk"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"deletePost":{"code":200,"success":true,"message":"deleted
        successfully"}}}'
  recorded_at: Sat, 02 Sep 2023 23:29:26 GMT
recorded_with: VCR 6.2.0
