---
http_interactions:
- request:
    method: post
    uri: https://gql.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"query getComments($after: String, $host: String!, $slug:
        String!) {         publication(host: $host) {           post(slug: $slug){             comments(first:
        50, after: $after) {               totalDocuments               pageInfo {                 hasNextPage                 endCursor               }               edges
        {                 cursor                 node {                   id                   content
        {                     html                   }                   totalReactions                   author
        {                     name                     username                     profilePicture                   }                   replies(first:
        50){                     edges{                       node {                         id                         content
        { html }                         author {                           name                           username                           profilePicture                         }                       }                     }                   }                 }               }             }           }         }       }","variables":{"slug":"hello-world","host":"matiasmoya.hashnode.dev","after":""}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e71e87d4-9147-4014-9dad-da3bfeecc54d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Apigw-Requestid:
      - K6uV_jMbvHcESdA=
      Stellate-Query-Hash:
      - '1373645258649408'
      Stellate-Rate-Limit-Budget-Required:
      - '38606'
      Gcdn-Cache:
      - MISS
      Stellate-Rate-Limit-Budget-Remaining:
      - '19999'
      Stellate-Rate-Limit-Rules:
      - '"Public Rate Limit";type="RequestCount";budget=20000;limited=?0;remaining=19999;refill=60'
      Stellate-Rate-Limit-Decision:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"publication":{"post":{"comments":{"totalDocuments":2,"pageInfo":{"hasNextPage":false,"endCursor":"Mg=="},"edges":[{"cursor":"MQ==","node":{"id":"64f2aca7ee6c557cc673ca9f","content":{"html":"<p>Testing
        the new GQL api</p>\n"},"totalReactions":0,"author":{"name":"Matt Hinczuk","username":"hinczuk","profilePicture":null},"replies":{"edges":[]}}},{"cursor":"Mg==","node":{"id":"64f2afe56889c87c962d3bf4","content":{"html":"<p>From
        the v1 graphql endpoints</p>\n"},"totalReactions":0,"author":{"name":"Matt
        Hinczuk","username":"hinczuk","profilePicture":null},"replies":{"edges":[{"node":{"id":"64f2b0d4ee6c557cc673cb05","content":{"html":"<p>Replied
        from the gph v1</p>\n"},"author":{"name":"Matt Hinczuk","username":"hinczuk","profilePicture":null}}},{"node":{"id":"64f2b13f6889c87c962d3c0f","content":{"html":"<p>Replied
        from the gph v1 again</p>\n"},"author":{"name":"Matt Hinczuk","username":"hinczuk","profilePicture":null}}}]}}}]}}}}}'
  recorded_at: Fri, 08 Sep 2023 03:11:46 GMT
recorded_with: VCR 6.2.0
