---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"\n      {\n        user(username: \"hashy\") {\n          username\n          name\n          tagline\n          blogHandle\n          publication
        {\n            _id\n            title\n            domain\n            username\n            isActive\n          }\n          publicationDomain\n        }\n      }\n    "}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - asdf1234-1234-1234-1234-123randomstring123
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Etag:
      - W/"110-dj9DOVoS7VTFhq5SwHXla+HX9NM"
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Content-Type:
      - application/json; charset=utf-8
      Gcdn-Cache:
      - PASS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"username":"hashy","name":"name","tagline":"","blogHandle":"bloghandleblog","publication":{"_id":"123456","title":"","domain":null,"username":null,"isActive":null},"publicationDomain":null}}}'
  recorded_at: Sat, 02 Sep 2023 23:03:51 GMT
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation updateStory($input: UpdateStoryInput!, $postId:
        String!) {         updateStory(input: $input, postId: $postId) {             code             success             message             post
        {                 _id                 dateAdded                 dateUpdated             }         }     }","variables":{"input":{"isPartOfPublication":{"publicationId":"123456"},"title":"Test","contentMarkdown":"Test","tags":[]},"postId":"123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - asdf1234-1234-1234-1234-123randomstring123
  response:
    status:
      code: 200
      message: OK
    headers:
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Gcdn-Cache:
      - PASS
      Etag:
      - W/"114-tsVH08SeeERbqch79vqNq4Vg7fc"
      Content-Type:
      - application/json; charset=utf-8
      Gcdn-Passed-Through-Response:
      - passthrough-only
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"updateStory":{"code":200,"success":true,"message":"Article
        updated successfully","post":{"_id":"123456","dateAdded":"2023-09-01T02:54:08.152Z","dateUpdated":"2023-09-02T23:03:52.392Z"}}}}'
  recorded_at: Sat, 02 Sep 2023 23:03:52 GMT
recorded_with: VCR 6.2.0
