---
http_interactions:
- request:
    method: post
    uri: https://api.hashnode.com/
    body:
      encoding: UTF-8
      string: '{"query":"mutation updateStory($input: UpdateStoryInput!, $postId:
        String!) {         updateStory(input: $input, postId: $postId) {             code             success             message             post
        {                 _id                 dateAdded                 dateUpdated             }         }     }","variables":{"input":{"isPartOfPublication":{"publicationId":"64c578d95a0f2b614f315c59"},"title":"Test","contentMarkdown":"Test","tags":[]},"postId":"64e806d86443109ff22e6b6f"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e71e87d4-9147-4014-9dad-da3bfeecc54d
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"114-v4uwOuh5RCABa4Wu7cckjtHrMPU"
      Gcdn-Passed-Through-Request:
      - bypass-cache-header:Authorization
      Gcdn-Cache:
      - PASS
      Gcdn-Passed-Through-Response:
      - passthrough-only
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"updateStory":{"code":200,"success":true,"message":"Article
        updated successfully","post":{"_id":"12345","dateAdded":"2023-08-25T01:41:44.297Z","dateUpdated":"2023-08-27T22:19:15.978Z"}}}}'
  recorded_at: Sun, 27 Aug 2023 22:19:16 GMT
recorded_with: VCR 6.2.0
